.datosmarcador
	.Ligamarcador
		=@partido.nombre_torneo
	.equipo2
		=@partido.local
	.vsmarcador
		VS
	.equipo2
		=@partido.visitante
	.horamarcador
		=@partido.hora_partido
	=if @partido.users.uniq.count >= 10
		.pjugando2
			=pluralize( @partido.users.uniq.count, "persona")
			jugando
	.pjugando2
		in
		=distance_of_time_in_words( @partido.diapartido, Time.now)