<div class="retornos centrado" id="marcadorAbierto">
	<p>GANANCIA ESTIMADA: 
		<span class="azul-claro" id="retornoEstimado">por definir</span> </p>
	<p>GANANCIA MINIMA: 
		<span class="azul-claro" id="retornoMinimoGarantizado">200,000</span> </p> </div>
<div class="retornos centrado" id="marcadorBloqueado">
	<p>¡MARCADOR BLOQUEADO TEMPROALMENTE!</p></div>
