	<section id="retodeamigo" class="amigosfacebook ">
		<div class="amigoreto">
			<div class="nombreamigoydescripcion">
				<p class="nombreamigo">
					<%= "#{@user.name} te reta con el #{@bet.golesLocal} - #{@bet.golesVisitante}. ¿Con cual marcador lo retas tu?"%></p>
				<p>
					Acepta el reto. Juega tu marcador. Invita mas Amigos. Descubre los marcadores de tus amigos.</p>
			</div>
		</div>

		<div style="display:none;" id="reminder">
			<%= "#{@ids}" %>
		</div>
	</section>

	<script type="text/javascript">
	   localStorage.reto= document.getElementById("reminder").innerHTML;
	</script>