<section class="colocaTuMarcador">
	<div class="imgbienvenida2no"></div>
	<header>
		<h2 class="titulosseccion">MI APUESTA</h2>
	</header>
	<div class="datosmarcador">
		<div class="Ligamarcador">Liga Mexicana</div>
		<div class="equipo2"> Tigres</div>
		<div class="vsmarcador">VS</div>
		<div class="equipo2"> Chivas</div>
		<div class="horamarcador">Oct 5 - 7:45 pm</div>
		<div class="pjugando2">123 personas jugando</div>
	</div>

</section>
<section id="apuesta">
	<article id="miapuesta">
		<div class="contenedorentrada">
			<div class="equipin">
				<div class="imgequipo1">
					<img src="http://www.cancha11.com/wp-content/uploads/2012/02/tigres1.jpg"/>
				</div>
				<div class="divmarcador">
					<input type="number" max="10" min="0" placeholder="0" name="marcador" size="10px" class="marcadoruser1"  align="middle"/>
				</div>
			</div>
			<div class="equipin">
				<div class="divmarcador">
					<input type="number" max="10" min="0" placeholder="0" name="marcador" size="10px" class="marcadoruser1"  align="middle"/>
				</div>
				<div class="imgequipo2">
					<img src="http://www.chivascampeon.com/img_Tinymce/545.jpg"/>
				</div> 
				<div class="clear"></div> 
			</div>
		</div>
		<div class="opcionesplata">
			<select> 
				<option value="10.000">10.000</option>
				<option value="20.000">20.000</option>
				<option value="30.000">30.000</option>
				<option value="40.000">40.000</option>
				<option value="50.000">50.000</option>
				<option value="60.000">60.000</option>
				<option value="70.000">70.000</option>
				<option value="80.000">80.000</option>
				<option value="90.000">90.000</option>
				<option value="100.000">100.000</option>
			</select>
		</div>
		<p class="retornoesperado">Retorno Esperado: <span class="cifrasapuestas">70.000</span></p>
		<input type="submit" Value="APOSTAR DINERO" class="botdinero" id="botdinero" />
		<input type="submit" Value="JUGAR CON PEZZOS" class="botpezzos" id="botpezzos"/>
	</article>
	<article class="retaramigos" id="retaramigos">
		<input type="submit" Value="Retar a tus amigos" class="botfacebook" />
		<p class="masamigos">Entre más amigos retes, más sube tu retorno.</p>
		<div class="vermas">
			<a href="partidos.html">jugar solo</a>
		</div>
	</article>
</section>