.MiApuesta
	%h3 Apuestas al mes
%table.table.table-striped
	%thead
		%tr 
			%th Mes
			%th Apuestas realizadas
	%tbody
		-@apuestas_al_mes.each do |mes, porcentaje|
			%tr
				%td=mes.strftime("%B %Y")
				%td=porcentaje