<div id="myCarousel" class="carousel slide" data-interval="3000">

  <!-- Carousel items -->
  <div class="carousel-inner centro">
    <div class="active item">
<%=image_tag "landing/banner/bannerImagen_1_new.jpg", {:class => "", :width=>""}%> 
    </div>
    <div class="item">
<%=image_tag "landing/banner/bannerImagen_2.jpg", {:class => "", :width=>""}%> 
    </div>
    <div class="item">
<%=image_tag "landing/banner/bannerImagen_4.jpg", {:class => "", :width=>""}%> 
    </div>
        <div class="item">
<%=image_tag "landing/banner/bannerImagen_5.jpg", {:class => "", :width=>""}%> 
    </div>
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>
