 <h2 class="titulosseccion">CONTACTANOS</h2>
 
     <div class="wrapper ">
      <p class="emailcontacto">
        Para contactarte con nosotros , envianos un email a:
      </p>
          <%= link_to "infogolazzos@gmail.com", "#", {:class => "botpezzos"} %> 
     </div>

<div class="emailcontacto">
  <%= image_tag "partido/partido_fondoPersonaje.png"%>
</div>