<h2 class="titulosseccion">POLITICAS DE PRIVACIDAD</h2>
<div class="wrapper">
		Estamos creando la comunidad futbol online mas respetuosa... 
		"No te dejes sacar tarjeta roja". Sigue estas simples reglas..
		<ol>
			<li>Solo reta amigos que conoces. A ese que conociste en una fiesta hace 3 anos y no lo volviste a ver es mejor que no lo retes.</li>
			<li>Solo reta amigos que les guste el fútbol. No pierdas el tiempo retando a tu abuelita que nunca a cantado un golazzo! </li>
			<li>Aprovechas y Incluye en el espacio un "saludito" a tus amigos. </li>
		</ol>
		Si piensas que tu privacidad esta comprometida escribenos ya a <strong>infogolazzos@gmail.com</strong> y tomaremos medidas al
		respecto. Sacaremos tarjetas amarillas y rojas si es necesario.
</div>