<h2 class="titulosseccion">REGLAMENTO</h2>
<div class="wrapper">



	<h2>1. QUE ES GOLAZZOS?</h2>

	Golazzos es una plataforma online donde juegas y apuestas al fútbol retando a tus amigos.La idea es divertirse compartiendo tu pasión por el fútbol acertando marcadores de tus equipos favoritos.

	<h2>2.COMO FUNCIONA GOLAZZOS?</h2>
	Golazzos funciona en 3 simples paZZos.
	<ol>
		<li>SELECCIONA: tu Partido y tu marcador esperado que te dará una ganancia si aciertas</li>
		<li>RETA: a tus amigos y apuestas con dinero real o ficticio que llamamos "PeZZos"</li>
		<li>COMPARTE: tu pasión en nuestro "Estadio" donde comentas el partido. y Ganas si aciertas el marcador.</li>
	</ol>
	<h2>3. QUE SON PEZZOS?</h2>
	En Golazzos te ofrecemos la opción de jugar dinero ficticio o dinero real (pronto!). El dinero ficticio lo llamamos PEZZOS.
	<h2>4. COMO OBTENGO PEZZOS?</h2>
	Existen 4 formas de obtener dinero ficticio
	<ol>
		<li>POR REGISTRARTE - Cuando te registras en Golazzos te damos 100,000 Pezzos</li>
		<li>POR JUGAR - Cuando juegas por marcadores te damos 10,000 Pezzos por tu actividad</li>
		<li>POR RETAR - Cuando retas a tus amigos por cada amigo que acepte tu reto por primera vez les damos 50,000 Pezzos a los dos. Por otros retos enviados y aceptados les damos 25,000 Pezzos a los dos.</li>
		<li>POR GANAR -  Cuando juegas por un marcador en un partido y aciertas el marcador final obtendras un retorno al dinero ficticio que jugaste. Por ejemplo si juegas 10,000 Pezzos al marcador 1-1 podrias por ejemplo recibir 40,000 pezzos si aciertas.</li>
	</ol>
	<h2>5. PUEDO JUGAR DINERO REAL EN GOLAZZOS?</h2>
	Por ahora solo puedes jugar dinero ficticio.

	<h2>6. QUE TIPO DE RETORNOS HAY EN GOLAZZOS?</h2>
	Golazzos tiene un modelo de retornos dinámicos. Esto significa que el retorno final se garantiza una vez comienza el partido y se cierran las apuestas. Hay 3 tipos de retornos en Golazzos:
	<ol>
		<li>RETORNO ESTIMADO: Cuando seleccionas un marcador y un monto de dinero real o ficticio a jugar se te muestra un retorno estimado. Este el retorno es basado en la bolsa de dinero en ese momento en el partido y puede cambiar de acuerdo a la oferta y la demanda por marcadores hasta que comienze el partido. Entre mas amigos retes a ese partido mas podria aumentar tu retorno.</li>
		<li>RETORNO MINIMO GARANTIZADO: Indepedientemente de la oferta y la demanda por marcadores nosotros te ofrecemos un retorno mínimo garantizado si aciertas ese marcador. </li>
		<li>RETORNO FINAL GARANTIZADO: Apenas comienze el partido y se cierren las apuestas se confirma el retorno final que te garantiza en ese marcador en el caso que aciertes.</li>
		<li>RETORNO FINAL: Cuando termine el partido y se sepa el marcador te mostraremos tu ganancia si acertaste o tu perdida si no.</li>
	</ol>

	<h2>7. COMO PUEDO AUMENTAR MI RETORNO CUANDO JUEGO o APUESTO A UN MARCADOR?</h2>
	Entre mas amigos retes en Golazzos mas puede aumentar tu retorno.

	<h2>8. CUANDO SE CIERRAN LOS PARTIDOS?</h2>
	Los partidos se cierran aproximadamente 15 minutos antes de su comienzo.

	<h2>9. CUANDO SE REPARTE EL DINERO DE LOS MARCADORES QUE ACERTARON?</h2>
	Se reparte dentro las 24 horas siguientes a la finalizacion del partido

	<h2>10. COMO RETO A MIS AMIGOS EN GOLAZZOS</h2>
	En la sección de "El RETO" primero aceptas los "Terminos y Condiciones" de Privacidad y despues utilizas el Facebook "send button" para enviarle el Reto con un mensaje personalidado a los amigos que quieres retar.

	<h2>11. CUALES SON NUESTRAS POLITICAS DE PRIVACIDAD?</h2>
	Estamos creando la comunidad de fanáticos mas respetuosa. Encuentra <%= link_to "AQUÍ", home_privacidad_path %> nuestras políticas de privacidad. En general, no promovemos ni incentivamos el SPAM. Por eso solo RETA amigos que conoces y que les gusta el fútbol y los cuales crees apreciarían tu invitación. Escribeles en el "SEND BOX" un saludo personalizado.

	<h2>12. CUANTO Y CUANTAS VECES PUEDO APOSTAR POR PARTIDO</h2>
	 Ofrecemos que los jugadores puedan jugar entre $10,000 y $100,000 Pezzos por marcador Puedes además el número de marcadores que desees. No hay límite.

	<h2>13. PORQUE NO PUEDO JUGAR POR ALGUNOS MARCADORES?</h2>
	Excepcionalmente algunos marcadores se bloquean por un tiempo para asegurar que hay suficiente dinero para pagar el RETORNO MINIMO GARANTIZADO en ese marcador. En el momento que podamos asegurar que se puede pagar el marcador se vuelve a habilitar.
	<h2>14. COMO NOS PONEMOS EN CONTACTO CON USTEDES?</h2>
	Nos gustan los comentarios sean buenos o malos. Los tomamos muy en serio. Puedes escribirnos por el boton de feedback o escribirnos a infogolazzos@gmail.com. Tambien nos puedes escribir a traves de tu cuenta en twitter a @golazzos.
</div>