<h2 class="titulosseccion">REGLAMENTO</h2>
<div class="wrapper">



	<h2>1. ¿QUÉ ES GOLAZZO$?</h2>

	Golazzo$ es una plataforma online donde juegas y apuestas al fútbol retando a tus amigos.La idea es divertirse compartiendo tu pasión por el fútbol acertando marcadores de tus equipos favoritos.

	<h2>2. ¿CÓMO FUNCIONA GOLAZZO$?</h2>
	Golazzo$ funciona en 3 simples paZZos.
	<ol>
		<li><strong>SELECCIONA</strong> tu partido y tu marcador esperado que te dará una ganancia si aciertas.</li>
		<li><strong>RETA</strong> a tus amigos y apuestas con dinero real o ficticio que llamamos "pezzo$".</li>
		<li><strong>COMPARTE</strong> tu pasión en nuestro "Estadio" donde comentas el partido. y Ganas si aciertas el marcador.</li>
	</ol>
	<h2>3. ¿QUE SON PEZZO$?</h2>
	En Golazzo$ te ofrecemos la opción de jugar dinero ficticio o dinero real (pronto!). El dinero ficticio lo llamamos pezzo$.
	<h2>4. ¿COMO OBTENGO PEZZO$?</h2>
	Existen 4 formas de obtener dinero ficticio
	<ol>
		<li>POR REGISTRARTE - Cuando te registras en Golazzo$ te damos 100,000 pezzo$</li>
		<li>POR JUGAR - Cuando juegas por marcadores te damos 10,000 pezzo$ por tu actividad</li>
		<li>POR RETAR - Cuando retas a tus amigos por cada amigo que acepte tu reto por primera vez les damos 50,000 pezzo$ a los dos. Por otros retos enviados y aceptados les damos 25,000 pezzo$ a los dos.</li>
		<li>POR GANAR -  Cuando juegas por un marcador en un partido y aciertas el marcador final obtendráz un retorno al dinero ficticio que jugaste. Por ejemplo si juegas 10,000 pezzo$ al marcador 1-1 podrias por ejemplo recibir 40,000 pezzo$ si aciertas.</li>
	</ol>
	<h2>5. ¿PUEDO JUGAR DINERO REAL EN GOLAZZO$?</h2>
	Por ahora sólo puedes jugar dinero ficticio.

	<h2>6. ¿QUE TIPO DE RETORNOS HAY EN GOLAZZO$?</h2>
	Golazzo$ tiene un modelo de retornos dinámicos. Esto significa que el retorno final se garantiza una vez comience el partido y se cierran las apuestas. Hay 3 tipos de retornos en Golazzo$:
	<ol>
		<li>RETORNO ESTIMADO: Cuando seleccionas un marcador y un monto de dinero real o ficticio a jugar se te muestra un retorno estimado. Este el retorno es basado en la bolsa de dinero en ese momento en el partido y puede cambiar de acuerdo a la oferta y la demanda por marcadores hasta que comienze el partido. Entre mas amigos retes a ese partido mas podria aumentar tu retorno.</li>
		<li>RETORNO MINIMO GARANTIZADO: Indepedientemente de la oferta y la demanda por marcadores nosotros te ofrecemos un retorno mínimo garantizado si aciertas ese marcador. </li>
		<li>RETORNO FINAL GARANTIZADO: Apenas comienze el partido y se cierren las apuestas se confirma el retorno final que te garantiza en ese marcador en el caso que aciertes.</li>
		<li>RETORNO FINAL: Cuando termine el partido y se sepa el marcador te mostraremos tu ganancia si acertaste o tu perdida si no.</li>
	</ol>

	<h2>7. ¿CÓMO PUEDO AUMENTAR MI RETORNO CUANDO JUEGO o APUESTO A UN MARCADOR?</h2>
	Entre más amigos retes en Golazzo$ mas puede aumentar tu retorno.

	<h2>8. ¿CUÁNDO SE CIERRAN LOS PARTIDOS?</h2>
	Los partidos se cierran aproximadamente 15 minutos antes de su comienzo.

	<h2>9. ¿CUANDO SE REPARTE EL DINERO DE LOS MARCADORES QUE ACERTARON?</h2>
	Se reparte dentro las 24 horas siguientes a la finalizacion del partido

	<h2>10. ¿COMO RETO A MIS AMIGOS EN GOLAZZO$?</h2>
	En la sección de "El RETO" primero aceptas los "Terminos y Condiciones" de Privacidad y después utilizas el Facebook "send button" para enviarle el Reto con un mensaje personalidado a los amigos que quieres retar.

	<h2>11. ¿CUALES SON NUESTRAS POLITICAS DE PRIVACIDAD?</h2>
	Estamos creando la comunidad de fanáticos más respetuosa. Encuentra <%= link_to "AQUÍ", home_privacidad_path %> nuestras políticas de privacidad. En general, no promovemos ni incentivamos el SPAM. Por eso solo RETA amigos que conoces y que les gusta el fútbol y los cuales crees apreciarían tu invitación. Escríbeles en el "SEND BOX" un saludo personalizado.

	<h2>12. ¿CUANTO Y CUANTAS VECES PUEDO APOSTAR POR PARTIDO¿</h2>
	 Ofrecemos que los jugadores puedan jugar entre $10,000 y $100,000 pezzo$ por marcador Puedes además el número de marcadores que desees. No hay límite.

	<h2>13. ¿POR QUÉ NO PUEDO JUGAR POR ALGUNOS MARCADORES?</h2>
	Excepcionalmente algunos marcadores se bloquean por un tiempo para asegurar que hay suficiente dinero para pagar el RETORNO MÍNIMO GARANTIZADO en ese marcador. En el momento que podamos asegurar que se puede pagar el marcador se vuelve a habilitar.
	
	<h2>14. ¿COMO NOS PONEMOS EN CONTACTO CON USTEDES?</h2>
	Nos gustan los comentarios sean buenos o malos. Los tomamos muy en serio. Puedes escríbirnos por el boton de feedback o escribirnos a infoGolazzo$@gmail.com. También nos puedes escribir a tráves de tu cuenta en twitter a @Golazzo$.
</div>