<% @friends.each  do |friend| %>
<div class="amigo">
  <div class="fotoamigo">
    <%=image_tag friend["picture"]["data"]["url"], {:class=> "thumbsail", :width => "40px"}%>
  </div>
  <div class="nombreamigo">
    <%= friend["name"]%>
  </div>
</div>  
<%end%>


