// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
	padding-left: 0px;
	padding-right: 0px;
	margin:0px;
	font-size:100%;
	background-color: #eeeeee;
}
.backcolor{
	background-color: #ffffff;
	border-left: 1px solid #999;
	border-right: 1px solid #999;
}
.wrapper {
	width: 96%;
	margin: 0px auto;
}
/* Fuentes tipográficas */
h1{ 
	font-family: Futura,Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight:normal;
	color: #fff;
	padding:1px;
	margin:10px;
}
h2{
	font-family: Futura, Arial, Helvetica, sans-serif;
	font-size:15px;
	font-weight:light;
}
h3{ font-family: Arial, Helvetica, sans-serif;
	font-weight:Bold;
	font-size:13px;
	margin:0px;
	padding: 0px;
	color:#666;
}
h4{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight:bold;
	color: #024791;
	margin:10px;
}
h5{
	font-family: Arial, Helvetica, sans-serif;
	font-size:9px;
	font-style:italic;
	color:#666;
}
p{
	font-family: Arial, Helvetica, sans-serif;
	font-style:normal;
	font-weight:lighter;
	font-size:14px;
	color:#666;
	line-height: 18px;
}
/* Separador_______________________________________________________*/
.separador{
	heigth:30px;
	width:100%;
	margin:0px;
	color:#FFF;
	background-image: image-url("golazzos2/line.png");
	background-repeat:repeat-x;
	margin-bottom:10px;
}
/* estilos de links______________________________________________________*/
a:link{
	color:#2EC8F0;
	font-family: arial, helvetica;
}
a:hover{
	color:#2AB9DE;
	font-family: arial, helvetica;
}
a:focus{
	color:#2AB9DE;
	font-family: arial, helvetica;
}


/* Header________________________________________________________________ */	
.header{
	width:100%;
	height:50px;
	background: #ffffff; /* Old browsers */

	background: -moz-linear-gradient(top,  #ffffff 0%, #eeeeee 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#eeeeee 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#eeeeee 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#eeeeee 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#eeeeee 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
	border-bottom: solid thin;
	border-bottom-color:#999;
	margin-bottom:0px;
}	
.logo{
	width:140px;
	height:50px;
	background-image: image-url("golazzos2/logo.png");
	float:left;
}
#navmenu{
	display: none;
}

.navegacion{
	height:30px;
	width:20px;
	border-left:thin solid #CCC;
	border-right:thin solid #CCC;
	display: block;
	background-image: image-url("golazzos2/menu.png");
	background-repeat: no-repeat;

}
.botperfil:hover,.navegacion:hover{
	background-color: #ddd;
	text-decoration: none;
}
.botperfil{
	height:30px;
	width: 40px;
	padding-right: 10px;
	border-left:thin solid #CCC;
	border-right:thin solid #CCC;
	float:right;
	display: block;
	background-image: image-url("golazzos2/persona.png");
	background-repeat: no-repeat;
	background-position:center;
	font-size: 10px;
	color: #00c9ec;
	span{
		color: #0672ab;
	}
}
.img-perfil{
	padding-left: -10px;
}
.botperfilpezzos{
	height:30px;
	width: auto;
	float:right;
	display: block;
	background-repeat: no-repeat;
	font-size: 14px;
	color: #00c9ec;
	padding-top: 15px;
	padding-right: 3px;
	vertical-align: middle;
	span{
		color: #0672ab;
	}
}
#perfiluser{
	text-align: center;
	background-color: #ddd;
	display: none;
	padding: 10px;
}
/* boton pezzos__________________________*/
.botlogin{
	width:300px;
	height:30px;
	font-family:Futura,Arial, Helvetica, sans-serif;
	font-size:20px;
	color:#FFF;
	background-color:#3A5D9F;
	border:none;
	padding: 3px;
	text-align:center;
	cursor:pointer;
	margin-left:auto;
	margin-right:auto;
	display:block;
	letter-spacing:.1em;
	text-shadow: 0 -1px 0px rgba(0, 0, 0, 0.3);
	background-image:image-url("golazzos2/facebook.png");
	background-origin: padding-box;
	background-repeat:no-repeat;
	padding-top: 15px;
} 
.botlogin:hover, .botlogin:focus {
	background-color:#436CBC;
	text-decoration:none;
	color: #fff;
}
nav{
	font-family:Arial, Helvetica, sans-serif;
	color: #FFF;
	font-style:normal;
	font-weight:lighter;
	background-color:#ddd;
}
nav ul{
	margin:0;
}	
nav ul li{
	list-style:none;
	list-style-image:none;
	font-size:16px;
	font-family: helvetica, arial, sans-serif;
	color: #FFF;
	border-bottom: solid 1px #bbb;
}
nav ul li a{
	display: block;
	height: 30px;
	padding: 11px 0px 3px 14px;
	text-decoration: none;	
}
nav ul li a:hover{
	color:#fff;
	background-color: #bbb;
	text-decoration: none;	
}

.imgbienvenida{
	width:100%;
	height:140px;
	display:block;
	max-width: 100%;
	margin-bottom:0px;
	background-image: image-url("golazzos2/mexico.png");
	background-repeat:no-repeat;
	background-position: center;	
}
.imgbienvenida2{
	width:100%;
	height:140px;
	display:block;
	max-width: 100%;
	margin-bottom:0px;
	background-image: image-url("golazzos2/fans-mexico.jpeg");
	background-repeat:no-repeat;
	background-position: center;
}	
.imgbienvenida3{
	width:100%;
	height:140px;
	display:block;
	max-width: 100%;
	margin-bottom:0px;
	background-image: url("http://cdn.aarp.net/content/dam/aarp/entertainment/leisure_activities/2010_05/420_futbol_mexicano_esp.imgcache.rev1274452127296.jpg");
	background-repeat:no-repeat;
	background-position: center;
}	
.imgbienvenida4{
	width:100%;
	height:140px;
	display:block;
	max-width: 100%;
	margin-bottom:0px;
	background-image: url("http://www.bolavip.com/wp-content/uploads/2012/02/azteca.jpg");
	background-repeat:no-repeat;
	background-position: center;
}	
.imgbienvenida5{
	width:100%;
	height:140px;
	display:block;
	max-width: 100%;
	margin-bottom:0px;
	background-image: url("http://periodicodigital.com.mx/media/images/2012/abril/deportes/semana_1/lunes_2/mexico%20campeon%20preolimpico.jpg");
	background-repeat:no-repeat;
	background-position: center;
}	
/* Frase bienvenida ___________________________*/
.frasehome{ 
	color: #157CBA;
	text-align: center;
}
/* titulos de sección__________________________*/
.bold{
	font-size: 1.1em;
}
.titulosseccion{
	background: #1f7abe; /* Old browsers */
	background: -moz-linear-gradient(-45deg,  #1f7abe 0%, #024791 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#1f7abe), color-stop(100%,#024791)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  #1f7abe 0%,#024791 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  #1f7abe 0%,#024791 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg,  #1f7abe 0%,#024791 100%); /* IE10+ */
	background: linear-gradient(135deg,  #1f7abe 0%,#024791 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f7abe', endColorstr='#024791',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	font-family:Futura,Arial, Helvetica, sans-serif;
	font-size: 2Opx;
	display:block;
	padding:3px;
	color:#FFF;
	font-weight:light;
	margin:0px;
	display:block;
	margin-bottom:1px;
	height:auto;
	text-align: center;
}
/* partidos por jugarse///////////////////////////////*/

.cajamarcador{
	height:120px;
	border-bottom:thin #CCC solid;
	margin:0px auto;	
	/*background-color:#0F0;*/
	padding-left:10px;
	clear: both;
}

.cajamarcador:hover{
	background-color: #EEE;
}
/* marcadores home*/
.marcadorCentrado{
	width:230px;
	margin: 0px auto;
}
.escudoequipo{
	width:60px;
	height:auto;
	/*background-color:#06C;*/
	text-align:center;
	float:left;
	font-family:Futura, Arial, Helvetica, sans-serif

}
.escudoequipo img{
	width:45px;
	height:auto;

}
.escudoequipo h3 {
	margin: 4px;
	line-height: 15px;
	font-size: 12px;
}
.datospartido{
	width:110px;
	float:left;
	/*background-color:#9F0;*/
	height:100%;
	display:block;

}
.Liga{
	font-family:Futura,Arial, Helvetica, sans-serif;
	font-size:10px;
	font-weight:bold;
	color:#333;
	text-align:center;
	margin-bottom:3px;
	margin-top:3px;
}
.vs{
	font-family:Futura,Arial, Helvetica, sans-serif;
	font-size:25px;
	color:#0672AB;
	text-align:center;
	font-weight:bold;
	margin-bottom:3px;

}
.hora{
	font-family:Futura,Arial, Helvetica, sans-serif;
	font-size:9px;
	font-weight:bold;
	color: #999;
	text-align:center;
	margin-bottom:5px;
}
.pjugando{
	font-family:Arial, Helvetica, sans-serif;
	font-size:9px;
	color:#0672AB;
	text-align:center;
	font-weight:lighter;
	margin-bottom:5px;
}
.botcontinuar{
	width: 15px;
	background-color: rgba(101, 101, 101, 0.14);
	height: 100%;
	display: block;
	float: right;
	margin-left: 0px;
	background-image: image-url("golazzos2/flechita.png");
	background-position: center;
	background-repeat: no-repeat;

}
.botcontinuar:hover{
	background-color:#CCC;
}
.vermas{
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	margin:5px;
	text-align:center;
}
.masPartidos{
	text-align: center;
}
#frase1{
	font-size: 15px;
	color: #0672ab;
	padding: 5px;
}

#partidosSabrozzos{
	margin-bottom: 10px;
}
#sobreGolazzos{

}

.pasos{
	margin:20px 10px 45px 10px;
}
.reglamentoGolazzos a{
	color: #ffffff;
}
.emailcontacto{
	text-align: center;
}


.wrap-social{
	text-align: center;
	display: block;
}
.twitter-follow-button{
	vertical-align:top
}
.twitter-follow{
	display: inline-block;
	vertical-align:top
}
.fb-like{
	display: inline-block;
	vertical-align:top
}


.fb-like span, .fb-like iframe { 
	height:25px !important; 
	width:110px !important;
}

.dropdown-backdrop {
    position: static;
}



footer
{
	background-color: #EEEEEE;
	padding: 10px 0px 5px 0px;
	text-align: center;
}