

.imgbienvenida2{
	width:100%;
	height:140px;
	display:block;
	max-width: 100%;
	margin-bottom:0px;
	background-image: image-url("golazzos2/fans-mexico.jpeg");
	background-repeat:no-repeat;
	background-position: center;
}
/* marcadores grandes para que usuario ponga su marcados*/

.datosmarcador{
	width:320px;
	margin-bottom:3px;
	margin-left: auto;
	margin-right: auto;
	/*background-color:#9F0;*/
	height:auto;
	padding:0px;
	text-align: center;
	display:block;
}
.Ligamarcador{
	font-family:Futura,Arial, Helvetica, sans-serif;
	font-size:13px;
	font-weight:bold;
	color:#333;
	text-align:center;
	margin-bottom:3px;
	margin-top:3px;
	width:100%;
	/*background-color:#3FC;*/

}
.equipo2{
	width:140px;
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:17px;
	color: #666;
	text-align:center;
	/*background-color:#FF0;*/
}

.vsmarcador{
	font-family:Futura,Arial, Helvetica, sans-serif;
	font-size:15px;
	color:#0672AB;
	text-align:center;
	font-weight:bold;
	margin-bottom:3px;
	width:40px;
	/*background-color:#FF0;*/
	display:block;
	float:left;

}
.horamarcador{
	font-family:Futura,Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	color: #999;
	text-align:center;
	margin-bottom:3px;
	width:320px;
	margin-right: auto;
	margin-left: auto;
	display: inline-table;

}
.pjugando2{
	font-family:Arial, Helvetica, sans-serif;
	font-size:9px;
	color:#0672AB;
	text-align:center;
	font-weight:lighter;
	margin-bottom:5px;
	float:left;
	/*background-color:#9C0;*/
	width:100%;
	text-align:center;
}
/*Datos del partido*/
.equipin{
	/*background-color: #CFF;*/
	width:160px;
	float:left;
}
.contenedorentrada{
	width:320px;

	height:90px;
	/*background-color:#0C0;*/
	margin-bottom:20px;
	margin-right: auto;
	margin-left: auto;
}
.imgequipo1{
	float:left;
	width:70px;
	height:auto;
	float:left;
	/*background-color:#0C3;*/
	margin-left:15px;
	margin-right:15px;
}
.imgequipo1 img{
	width:70px;
	height:auto;
}
.imgequipo2{
	float:left;
	width:70px;
	height:auto;
	float:left;
	/* background-color: #0F3;*/
	margin-left:15px;
	margin-right:15px;
}
.imgequipo2 img{
	width:70px;
	height:auto;

}	  
/*estilo de cajas de texto para los marcadores*/

.divmarcador{
	width:60px;
	float:left;
	/*background-color:#0F3;*/
	text-align:center;
	font-size: 36px;
	margin-top:20px;
}


.marcadoruser1{
	width:35px;
	height:35px;
	background-color: #FFF;
	border: thin solid #999;
	border-radius:3px;
	box-shadow: inset- 1px 1px 1px #666666;
	font-family:Arial, Helvetica, sans-serif;
	font-size:24px;
	margin-left: 15px;
	float:left;
}
.redes{
	text-align: center;
	margin: 10px 0px;
}
.redes img{
	vertical-align: middle;
}
.opcionesplata{
	width: 300px;
	height: 35px;
	overflow: hidden;
	background:#FFF;
	border: 1px solid #ccc;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:15px;
	background-image:image-url("golazzos2/flecha2.png");
	background-position:right;
	background-repeat:no-repeat;
}

.opcionesplata select{
	width:100%;
	height:35px;
	font-family:Futura,Arial, Helvetica, sans-serif;
	font-size:10px;
	color: #666;
	background-color:#FFF;
	background: transparent;
	padding: 5px;
	font-size: 16px;
	line-height: 1;
	border: 0;
	border-radius: 0;
	height: 34px;
	-webkit-appearance: none;
	margin-left:auto;
	margin-right:auto;
}
.retornoesperado{
	text-align: center;
	background-color: #EEEEEE;
	padding: 10px;
}

/* boton pezzos__________________________*/
input.botpezzos{
	width:300px;
	height:35px;
	font-family:Futura,Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#FFF;
	background-color:#00C9EC;
	border:none;
	padding:3px;
	text-align:center;
	cursor:pointer;
	margin-left:auto;
	margin-right:auto;
	display:block;
	letter-spacing:.1em;
	text-shadow: 0 -1px 0px rgba(0, 0, 0, 0.3);
	margin-bottom:15px;
} 
input.botpezzos:hover, input.botpezzos:focus{
	background-color:#00B7D7;
}
/*Boton de preguntas */
.botpregunta{
	width:20px;
	height:20px;
	borer-radius:5px;
	text-align:center;
	display:box;
	margin-left:auto;
	margin-right:auto;
	cursor:help;
	background-image: image-url("golazzos2/pregunta.png")
}	
input.botdinero{
	width:300px;
	height:35px;
	font-family:Futura,Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#FFF;
	background-color:#157CBA;
	border:none;
	padding:3px;
	text-align:center;
	cursor:pointer;
	margin-left:auto;
	margin-right:auto;
	display:block;
	etter-spacing:.1em;
	text-shadow: 0 -1px 0px rgba(0, 0, 0, 0.3);
	margin-bottom:15px;
} 
input.botdinero:hover, input.botdinero:focus{
	background-color:#1795E1;
}
/* Separador_______________________________________________________*/
.separador{
	heigth:30px;
	width:100%;
	margin:0px;
	color:#FFF;
	background-image:image-url("golazzos2/line.png");
	background-repeat:repeat-x;
	margin-bottom:10px;
}
/*Boton de facebook*/
/* boton pezzos__________________________*/
input.botfacebook{
	width:300px;
	height:45px;
	font-family:Futura,Arial, Helvetica, sans-serif;
	font-size:20px;
	color:#FFF;
	background-color:#3A5D9F;
	border:none;
	padding:3px;
	text-align:center;
	cursor:pointer;
	margin-left:auto;
	margin-right:auto;
	display:block;
	etter-spacing:.1em;
	text-shadow: 0 -1px 0px rgba(0, 0, 0, 0.3);
	margin-bottom:15px;
	background-image:image-url("golazzos2/facebook.png");
	background-origin: padding-box;
	background-repeat:no-repeat; 
} 
input.botfacebook:hover, input.botfacebook:focus{
	background-color:#436CBC
}
.itemsapuesta{
	width:50%;
	font-family: Futura,Arial, Helvetica, sans-serif;
	font-size:12px;
	text-align:left;
	color:#999;
	float:left;
	/*background-color:#F60;*/
	height:30px;
}

.itemsapuesta img{
	
	position: relative;
	top: 7px;

}
.emergencia{
	width: 320px;
	height: 30px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 10px ;
}
.cifrasapuestas{
	color:#0672AB;
	font-family:Futura, Arial, Helvetica, sans-serif;
	font-size:14px;
	display: inline-block;
	/*background-color:#0F0;*/
	height:23px;
}
.masamigos{
	text-align:center;
	color:#1F7ABF;
}

.retaramigos{
	display: none;
}
.loginfacebook{
	margin: 20px 0px 10px 0px;
	padding: 10px;
	background-color: #EEEEEE;
	h3{
		text-align: center;

	}
}
.botonfacebook{
	display: none;
	text-align: center;
}

/* EL RETO -----------------------------------	*/
.amigosfacebook{
	.amigo{
		padding: 5px 0px;
		margin: 0px auto;
		.fotoamigo{
			display: inline-block;
		}
		.nombreamigo{
			display: inline-block;
			font-family: futura, arial, helvetica;
			font-size: 15px;
			color:#0672ab;
			
			margin-left: 10px;
			padding-top: 10px;
		}
	}
	.amigoreto{
		padding: 5px 0px;
		margin: 0px auto;
		display: block;
		background-color: #EEEEEE;
		.fotoamigo{
			display: inline-block;
			vertical-align: top;
			margin: 15px 0px 0px 10px;
		}
		.nombreamigoydescripcion{
			display: inline-block;
			margin-left: 15px;
			padding-top: 10px;
			width: 80%;
			.nombreamigo{
				font-family: futura, arial, helvetica;
				font-size: 15px;
				color:#0672ab;
			}
		}
	}
	a{
		color: #FFF;
		text-decoration: none;
	}
}
.amigosfb_padding{
	margin-top: 300px;
}
a.botpezzos{

	width:300px;
	height:30px;
	font-family:Futura,Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#ffffff;
	background-color:#00C9EC;
	border:none;
	font-size: 16px;
	padding:3px;
	text-align:center;
	cursor:pointer;
	margin: 10px auto;
	display:block;
	letter-spacing:.1em;
	text-shadow: 0 -1px 0px rgba(0, 0, 0, 0.3);
	margin-bottom:15px;
	padding-top:15px;
}
a.botpezzos:hover,a.botpezzos:focus{
	background-color:#00B7D7;
	color: #ffffff;
	text-decoration: none;
}
.botonGolazzos
{
	width:auto;
	font-family:Futura,Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#ffffff;
	background-color:#00C9EC;
	border:none;
	font-size: 16px;
	padding:3px;
	text-align:center;
	cursor:pointer;
	margin: 10px auto;
	display:block;
	letter-spacing:.1em;
	text-shadow: 0 -1px 0px rgba(0, 0, 0, 0.3);
	margin-bottom:15px;
	padding-top:15px;
	padding-bottom: 15px;
}
.botonGolazzos:hover
{
	background-color:#00B7D7;
	color: #ffffff;
	text-decoration: none;
}

.linkreglasGolazzos{
	padding-top: -50px;
}
.reglasGolazzos{
	display: none;
}
.terminosycondiciones{
	line-height: 25px;
}
