/*estilos para la página de perfil de usuario*/


.cperfil{
	width: 100%;
	height: 95%;
	font-family: helvetica,arial,sans-serif;
	padding: 10px;
	display: inline-block;
}
.modulo1{
	width: 23%;
	height: 100%;
	margin-right: 5%;
	/*background-color: rgb(238, 238, 238); */
	background-color: #ffffff;
	display: block;
	float: left;

}
.fotoperfil{

}
.playerlevel{
	color: #878787;
	font-family: futura, arial, helvetica;
	font-size: 18px;
	text-align: center;
	height: 25px;
}
.nextlevel{
	font-family: helvetica, arial, sans-serif;
	font-size: 10px;
	color: #999999;
	padding: 5px;
	height: 25px;
	text-align: center;
}
.fotoperfil img {
}
.modulo2{
	width: 68%;
	display: inline-block;
	margin-bottom: 10px;

}
.nombreperfil{
	font-family: futura, helvetica, arial;
	font-size: 25px;
	color: #0672ab;
	width: 100%;
	margin-top: 15px;
	margin-bottom: 15px;
	text-align: left;
}
.logout{
	text-align: left;
}
.boxpezzos{
	width:48%;
	float: left;
	height: 63px;
	border-right: 1px solid #fff;
}
.boxdinero{
	width:48%;
	float: left;
	height: 63px;
}
.topicpezzos{
	font-family: helvetica, arial, sans-serif;
	font-size: 14px;
	color: #00c9ec;
	width: 99%;
	background-color: #EEEEEE;
	height: 20px;
	float: left;
	padding-top: 5px;
	padding-left: 2%;
	text-align: center;
}
.cantidadpezzos{
	font-family: futura, helvetica, arial;
	font-size: 18px;
	color: #fff;
	background-color: #00c9ec;
	display: block;
	width: 100%;
	height: 25px;
	padding-top:30px;
	text-align: center;

}

.topicdinero{
	font-family: helvetica, arial, sans-serif;
	font-size: 14px;
	color: #0672ab;
	display: block;
	width: 100%;
	background-color: #EEEEEE;
	height: 20px;
	float: left;
	text-align: center;
	padding-top: 5px;

}
.cantidaddinero{
	font-family: futura, helvetica, arial;
	font-size: 18px;
	color: #fff;
	background-color: #0672ab;
	display: block;
	width: 100%;
	height: 25px;
	padding-top: 30px;
	text-align: center;


}	
.modulo3{
	display: inline-block;
	margin-top: 10px;
	width: 100%;
	display: inline-block;
}
.logrosuser{
	width: 32%;
	float: left;
	border-right: 1px solid #fff;
}
.nombrelogro{
	font-family: helvetica, arial, sans-serif;
	color: #FFF;
	width: 100%;
	font-size: 13px;
	height: 20px;
	text-align: center;
	padding-top: 5px;

}
#puntos{
	background-color: #0672ab;
}
#ganados{
	background-color: #1AD968;
}
#perdidos{	
	background-color: #F20245;
}

.numerologro{
	color: #5c595c;
	background-color: #EEEEEE;
	width: 100%;
	font-family: futura, helvetica, arial;
	font-size: 18px;
	color: #7d7781;
	text-align: center;
	height: 25px;
	padding-top: 5px;
}
.boxuserpadding{
	margin: 20px 0px 15px 0px;
}

.nav-tabs.active{
	color:  #157CBA;
}
.nav-tabs > .active > a, .nav-tabs > .active > a:hover, .nav-tabs > .active > a:focus {
color: #1F7BBF;
background-color: #ffffff;
border: 1px solid #ddd;
border-bottom-color: transparent;
cursor: default;
}
.nav-tabs > li > a {
padding-top: 8px;
padding-bottom: 8px;
line-height: 20px;
border: 1px solid transparent;
-webkit-border-radius: 4px 4px 0 0;
-moz-border-radius: 4px 4px 0 0;
border-radius: 4px 4px 0 0;
background: #DFDCDC;
color: #fff;
}

/* MI APuestas 	*/
.MiApuesta{
	background-color: #EEEEEE;
	text-align: center;
}
.MiApuestaEquipo{
	display: inline-block;

}

.MiApuestaMarcador{
	display: inline-block;
}
.MiApuestaPerdi{
	color: #F20245;
}
.MiApuestaGane{
	color: #1AD968;
}
.MiApuestaRetornoEstimado{
	color: #00C9EC;
	display: inline-block;
}
.MiApuestaRetornoFinal{
	color: #00B581;
	display: inline-block;
}
.bloque{
	display: block;
}
.tablapartidos{
	td, th{
		text-align: center;
	}
}

